@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
.main{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    font-size: 2.5rem;
    width: 90%;
    padding: 5%;
}

.ordercontainer{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    max-height: max-content;
    overflow: scroll;
}

@media only screen and (max-width: 480px){

    .main{
        height: 100vh;
    }
}